
<form *ngIf="s; else loading" (ngSubmit)="onSubmit()" class="mt-5 pt-5 pb-5 mb-2">
  <h1 class="font-weight-light text-center">Editar servicio</h1>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="s._name">
  </mat-form-field>
  
  <div class="container text-center mb-2">
    <button color="primary" mat-raised-button (click)="editLocation(); (false)">
      Ver ubicación
      <mat-icon>map</mat-icon>
    </button>
  </div>
  
  <mat-form-field appearance="outline">
    <mat-label>Clasificación</mat-label>
    <mat-select
    [(ngModel)]="s._classification"
    [ngModelOptions]="{standalone: true}"
    >
      <mat-option *ngFor="let c of _common.classification" [value]="c">
        {{ c }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Información adicional</mat-label>
    <input matInput type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="s._additional_info">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Añadir teléfono</mat-label>
    <input
      matInput
      #tel
      type="tel"
    />
  </mat-form-field>
  <div class="container text-center">
    <button [disabled]="tel.value.length === 0" (click)="addPhone(tel.value); false" mat-raised-button color="accent">Agregar teléfono<mat-icon>add</mat-icon></button>
  </div>
  <mat-list role="list" *ngIf="s" class="container text-center rounded mt-2 mb-2">
    <mat-list-item *ngFor="let p of s._phones.phones; let i = index;" role="listitem" class="mb-2">
      <div class="phone p-1 shadow-sm">
        <h3>{{p}}</h3>
        <button mat-button color="warn" (click)="_phones.phones.splice(i, 1); false"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-form-field appearance="outline">
    <mat-label>Correo</mat-label>
    <input matInput type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="s._email">
  </mat-form-field>

  <div class="container text-center mb-2" *ngIf="serviceImages">
    <h4 class="font-weight-light">{{serviceImages.length}} imagen(es) han sido encontradas</h4>
    <button (click)="openImagesDialog(); false" mat-stroked-button><mat-icon>insert_photo</mat-icon> Presiona para ver</button>
  </div>

  <h4 class="font-weight-light text-center">Agregar <span *ngIf="serviceImages">más</span> imágenes</h4>
  
  <app-upload-images [tablename]="'tour'" (downloadUrlsChange)="catchUploadedImages($event)"></app-upload-images>

  <div class="text-center container">
    <button type="submit" color="primary" mat-raised-button><mat-icon>send</mat-icon></button>
  </div>
</form>
<ng-template #loading>
  <div class="container" id="progress-container">
    <mat-progress-bar mod e="indeterminate"></mat-progress-bar>
  </div>
</ng-template>