.mat-dialog-container {
  width: 100% !important;
  height: 85% !important;
}

.owl-carousel .owl-stage {
  margin: auto !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}