<form [formGroup]="addServiceFG" (ngSubmit)="onSubmit()" class="text-center pt-5 mt-5">
  <div class="container">
    <h1 class="text-primary">Agregar Servicio</h1>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        [formControl]="addServiceFG.get('name')"
        matInput
      />
    </mat-form-field>
    <div class="container text-center">
      <button class="mr-1" color="accent" mat-raised-button (click)="pickLocation(); (false)">
        Añadir ubicación
        <mat-icon>add_location</mat-icon>
      </button>
      <mat-icon [ngStyle]="{'color': location === undefined ? 'red': 'green'}" class="ml-1">{{locationIcon}}</mat-icon>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Clasificación</mat-label>
      <mat-select
        [formControl]="addServiceFG.get('classification')"
      >
        <mat-option *ngFor="let c of classification" [value]="c">
          {{ c }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Información adicional</mat-label>
      <textarea
        matInput
        [formControl]="addServiceFG.get('additional_info')"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teléfono de contacto</mat-label>
      <input
        matInput
        #tel
        type="tel"
        [formControl]="addServiceFG.get('phone')"
      />
    </mat-form-field>
    <button [disabled]="tel.value.length === 0" (click)="addPhone(tel.value); false" mat-raised-button color="accent">Agregar teléfono<mat-icon>add</mat-icon></button>
    <mat-list role="list" *ngIf="phones.phones.length > 0" class="rounded mt-2 p-0">
      <mat-list-item *ngFor="let p of phones.phones; let i = index;" role="listitem">
        <div class="phone">
          <h3>{{p}}</h3>
          <button mat-button color="warn" (click)="phones.phones.splice(i, 1); false"><mat-icon>delete</mat-icon></button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input
        matInput
        [formControl]="addServiceFG.get('email')"
        type="email"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sitio web</mat-label>
      <input
        matInput
        [formControl]="addServiceFG.get('website')"
        type="url"
      />
    </mat-form-field>
    <div class="container text-center">
      <button (click)="addRates(); false" class="mb-3" mat-raised-button color="primary">Agregar tarifas<mat-icon>add</mat-icon></button>
      <mat-icon [ngStyle]="{'color': rates === undefined ? 'red': 'green'}" class="ml-1">{{ratesIcon}}</mat-icon>
    </div>
    <div
      class="dropzone shadow-sm container mb-2"
      dropZone
      (hovered)="toggleHover($event)"
      (dropped)="prepareFiles($event)"
      [class.hovering]="isHovering"
    >
      <h3 class="text-white">Seleccione o arrastre el archivo</h3>
  
      <div class="container text-center">
        <input
          multiple
          style="color: transparent"
          type="file"
          (change)="prepareFiles($event.target.files)"
        />
        <hr>
        <button [disabled]="!files" (click)="startUpload(); false" mat-raised-button><mat-icon>cloud_upload</mat-icon></button>
      </div>
    </div>
    <ul id="urls" *ngIf="downloadURLS.length !== 0">
      <li *ngFor="let u of downloadURLS; let i = index">
        <a href="{{ u }}">Imagen {{ i + 1 }}</a>
      </li>
    </ul>
    <div class="container text-center" *ngIf="downloadURLS.length > 0">
      <button (click)="openShowImages(); false" mat-stroked-button><mat-icon>collections</mat-icon></button>
    </div>
    <div *ngIf="percentage | async as pct">
      <progress class="progress is-info" [value]="pct" max="100"> </progress>
  
      {{ pct | number }}%
    </div>
    <div id="controls-container" *ngIf="snapshot | async as snap">
      <button
        mat-raised-button
        color="secondary"
        (click)="task.pause()"
        [disabled]="!isActive(snap)"
      >
        <mat-icon>pause</mat-icon>
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="task.cancel()"
        [disabled]="!isActive(snap)"
      >
        <mat-icon>
          clear
        </mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="task.resume()"
        [disabled]="!(snap?.state === 'paused')"
      >
        <mat-icon>
          play_arrow
        </mat-icon>
      </button>
    </div>
  
    <div class="container text-center">
      <button
        [disabled]="!addServiceFG.valid || percentage !== undefined || !location"
        mat-raised-button
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</form>
