@import '../../../assets/ui-utils/vars';
@media screen and (min-width: 601px) {
  mat-form-field {
    width: 70%
  }
}
@media screen and (max-width: 700px) {
  mat-form-field {
    width: 95%
  }
}

@media screen and (min-width: 601px) {
  mat-list {
    width: 70%
  }
}
@media screen and (max-width: 700px) {
  mat-lists {
    width: 95%
  }
}

@media screen and (min-width: 601px) {
  .dropzone {
    width: 70%
  }
}
@media screen and (max-width: 700px) {
  .dropzone{
    width: 95%
  }
}

form{
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

mat-form-field{
  display: block;
  margin: auto
}

progress::-webkit-progress-value {
  transition: width 0.1 ease
}
progress {
  width: 100%
}
.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  height: 300px;
  border: 0.5px dashed $primary-color;
  border-radius: 5px;
  background: transparent;
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);




  &.hovering {
      border: 2px solid #f16624;
      color: #dadada !important;
  }
}

#controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.5%;
}

#urls{
  list-style-type: decimal
}
mat-list {
  border: 0.5px solid lightgray;
  margin: auto
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

h3{
  font-weight: 200
}