@import '../../../assets/ui-utils/vars';
form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1%;
  justify-content: space-around
}

mat-form-field {
  width: 100%;
  margin: auto;
}
thead {
  background-color: $secondary-light-color
}
td, th {
  padding: 5px;
}