<form
  [formGroup]="ratesFG"
  class="container-fluid pb-3 p-0 pt-3 h-100 mr-0 ml-0 w-100 d-flex flex-column justify-content-between"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-primary text-center font-weight-light">Tarifas</h1>
  <hr />
  <div class="row" *ngIf="rates">
    <mat-form-field appearance="outline" class="col-sm w-50">
      <input
        matInput
        [value]="rates.header1"
        formControlName="header1"
        type="text"
        placeholder="Campo 1"
      />
      <mat-error>Este campo no puede estar vacío</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-sm w-50">
      <input
        matInput
        [value]="rates.header2"
        formControlName="header2"
        type="text"
        placeholder="Campo 2"
      />
      <mat-error>Este campo no puede estar vacío</mat-error>
    </mat-form-field>
  </div>

  <div
    class="rounded w-100"
    formArrayName="items"
    style="overflow-y: auto; background-color: rgba(250, 250, 250, 0.863)"
  >
    <div
      class="row p-0 w-100 m-auto"
      *ngFor="let item of ratesFG.get('items')['controls']; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="outline" class="col-sm p-0 w-50">
        <input
          matInput
          formControlName="v1"
          type="text"
          placeholder="Inserte un valor"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-sm p-0 w-50">
        <mat-icon matPrefix>attach_money</mat-icon>
        <input
          matInput
          type="number"
          formControlName="v2"
          type="text"
          placeholder="Inserte un valor"
        />
      </mat-form-field>
      <br>
      <div class="container-fluid text-center">
        <button
          class="mt-1 mb-1"
          *ngIf="ratesFG.get('items').length > 1"
          (click)="deleteItem(index); (false)"
          matInput
          mat-raised-button
          color="warn"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="text-center mt-2">
    <button (click)="addItem(); (false)" mat-raised-button color="accent">
      Añadir fila
    </button>
  </div>
  <hr />
  <div class="container text-center">
    <mat-form-field appearance="outline" class="w-100">
      <textarea
        matInput
        type="text"
        formControlName="observations"
        placeholder="Observaciones"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="mt-2 container text-center">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!ratesFG.valid"
    >
      <mat-icon>check</mat-icon>
    </button>
  </div>
</form>
