<div *ngIf="tour" id="tour-container">
  <h2 class="text-center text-primary m-2">{{ tour._name }}</h2>
  <carousel-component
    class="shadow-lg"
    #carousel
    [mode]="'horizontal'"
    [morePairSlides]="moreSlides"
    [angle]="degree"
  >
    <div class="item-carousel rounded shadow" *ngFor="let img of tour.imgs">
      <img class="rounded" src="{{ img }}" />
    </div>
  </carousel-component>
  <div class="container text-center mt-2" id="carousel-footer">
    <button mat-icon-button class="m-2" (click)="carousel.slidePrev()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-icon-button class="m-2" (click)="carousel.slideNext()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <ul id="details" class="container text-left p-3 shadow-sm">
    <h5 class="text-center text-muted">Información</h5>
    <hr />
    <li>
      <strong>Ubicación: </strong>
      <button mat-stroked-button><mat-icon>map</mat-icon></button>
    </li>
    <li>
      <strong>Información adicional: </strong>
      <p>{{ tour.a_dditional_info }}</p>
    </li>
    <li><mat-icon>phone</mat-icon>{{ tour._phone }}</li>
    <li><mat-icon>mail</mat-icon>{{ tour._email }}</li>
  </ul>
</div>
