<div *ngIf="tour" id="tour-container">
  <h2 class="text-center text-primary m-2">{{ tour._name }}</h2>
  <carousel-component
    class="shadow-lg"
    #carousel
    [mode]="'horizontal'"
    [morePairSlides]="moreSlides"
    [angle]="degree"
  >
    <div class="item-carousel rounded shadow" *ngFor="let imageObject of tour._imgs_lazy" (deferLoad)="imageObject.show = true">
      <img class="rounded i" src="{{ imageObject.img }}" />
    </div>
  </carousel-component>
  <div class="container text-center mt-2" id="carousel-footer">
    <button mat-icon-button class="m-2" (click)="carousel.slidePrev()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-icon-button class="m-2" (click)="carousel.slideNext()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <ul id="details" class="container text-left p-3 shadow-sm">
    <h5 class="text-center text-muted">Información</h5>
    <hr />
    <li>
      <strong>Ubicación: </strong>
      <button (click)="showLoc();" mat-stroked-button><mat-icon>map</mat-icon></button>
    </li>
    <li>
      <strong>Información adicional: </strong>
      <p>{{ tour._additional_info }}</p>
    </li>
    <li>
      <mat-list>
        <mat-list-item *ngFor="let p of tour._phones.phones">
          <mat-icon>phone</mat-icon>{{ p }}
        </mat-list-item>
      </mat-list>
    </li>
    <li><mat-icon>mail</mat-icon>{{ tour._email }}</li>
  </ul>

  <h1 *ngIf="relatedTours && relatedTours.length > 0; else loading_related" class="text-secondary text-center font-weight-light m-2">Tours relacionados</h1>
  <ng-template #loading_related *ngIf="showRelatedLoadingInfo">
    <div class="container text-center">
      <p class="animated pulse infinite">Cargando información relacionada</p>
    </div>
  </ng-template>
  
  <div *ngIf="relatedTours" id="related-tours">
    <div *ngFor="let r of relatedTours" class="related-tour shadow-sm rounded p-0 m-2">
      <h3 class="font-weight-light text-center mt-2">{{r.name}}</h3>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              + Info
            </mat-panel-title>
          </mat-expansion-panel-header>
          <hr>
          <p class="text-center text-secondary"><i>{{r.description}}</i></p>
          <hr>
          <mat-list *ngIf="r.phones" class="p-0">
            <mat-list-item *ngFor="let p of r.phones.phones"><mat-icon class="text-muted">phone</mat-icon> - {{p}}</mat-list-item>
          </mat-list>
          <p><mat-icon class="text-muted">mail</mat-icon> {{r.email}}</p>
          <div class="container text-center">
            <button mat-stroked-button class="open-in-new"><mat-icon>open_in_new</mat-icon></button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    
  </div>
</div>
