@import "../../../assets/ui-utils/vars";

@media screen and (min-width: 601px) {
  .related-tour {
    width: 25%;
  }
}

@media screen and (max-width: 700px) {
  .related-tour {
    width: 95%;
  }
}

@media screen and (min-width: 601px) {
  #related-tours {
    flex-direction: row;
  }
}

@media screen and (max-width: 700px) {
  #related-tours {
    flex-direction: column;
  }
}

@media screen and (min-width: 601px) {
  .main-img {
    height: 250px;
  }
}
@media screen and (max-width: 700px) {
  .main-img {
    height: 200px;
  }
}
.main-img {
  margin: auto;
  width: 100%;
}

#tour-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
}
h2 {
  font-weight: 200;
}

#details {
  list-style-type: none;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

mat-icon {
  vertical-align: middle;
}

#related-tours {
  display: flex;
  width: 100%;
  justify-content: center;
}

h3 {
  color: $secondary-color;
}

.open-in-new {
  background-color: $primary-color;
}
