#tour-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
h2{
  font-weight: 200
}
:host .item-carousel{
  width: 25%;
  height: 25%;
  border-color: transparent
}
:host carousel-component{
  border: 0.5px solid lightgray;
  border-radius: 15px;
  display: block;
  overflow: hidden;
  padding: 8vh 6vh;
  width: 95%;
  margin: 0 auto;
  margin-top: 2vh;
}

.item-carousel div, .item-carousel img{
  height: 100%;
  width: 100%;
}
#details {
  list-style-type: none;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

mat-icon {
  vertical-align: middle;
}

carousel-component {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}