<div *ngIf="service" class="mb-3 d-flex flex-column justify-content-aroundo h-100">
  <h2 class="text-center text-primary">{{ service._name }}</h2>
  <div class="container pb-0">
    <app-carousel
      *ngIf="service._imgs_lazy"
      [allowDelete]="false"
      [data]="data"
    ></app-carousel>
  </div>
  <ul id="details" class="container text-left p-3 shadow-sm">
    <h2 class="text-center text-muted font-weight-light">Información</h2>
    <hr />
    <li>
      <strong>Ubicación: </strong>
      <button (click)="showLoc()" mat-stroked-button>
        <mat-icon>map</mat-icon>
      </button>
    </li>
    <li>
      <strong>Información adicional: </strong>
      <p>{{ service._additional_info }}</p>
    </li>
    <li *ngIf="service._phones !== null">
      <mat-list>
        <mat-list-item *ngFor="let p of service._phones.phones">
          <mat-icon>phone</mat-icon>{{ p }}
        </mat-list-item>
      </mat-list>
    </li>
    <li><mat-icon>mail</mat-icon>{{ service._email }}</li>
    <li *ngIf="service._website && service._website.length > 0">
      <mat-icon>language</mat-icon
      ><a href="{{ service._website }}"> Sitio web</a>
    </li>
    <li *ngIf="rates; else loading_rates">
      <h3 class="font-weight-light text-center text-muted">Tarifas</h3>
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">{{ rates.header1 }}</th>
          <th scope="col">{{ rates.header2 }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let v of rates._values; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ v.v1 }}</td>
            <td>$ {{ v.v2 }}</td>
          </tr>
          <div class="text-center" *ngIf="rates.observations !== null && rates.observations.length > 0">
            <p><strong>Observaciones: </strong>{{rates.observations}}</p>
          </div>
        </tbody>
      </table>
    </li>
  </ul>

  <ng-template #loading_rates *ngIf="showLoadingRatesInfo">
    <div class="container text-center">
      <p class="animated pulse infinite">Cargando información de tarifas</p>
    </div>
  </ng-template>

  <div *ngIf="relatedTours && relatedTours.length > 0" class="container-fluid">
    <h1 class="font-weight-light text-center">Tours relacionados</h1>
    <div class="card-columns">
      <div *ngFor="let r of relatedTours let i = index" class="tour card">
        <img src="{{ r.imgs[0] }}" class="card-img-top img-fluid rounded shadow-sm" alt="{{ r._name }}" />
        <div class="card-body">
          <h5 class="card-title">{{r._name}}</h5>
          <hr>
          <button (click)="openTourInfo(i)" mat-raised-button class="btn-details text-white">Ver detalles</button>
        </div>
      </div>
    </div>
  </div>
</div>
