@import '../assets/ui-utils/vars';

@media screen and (min-width: 601px) {
  mat-drawer {
    width: 25%;
  }
}
@media screen and (max-width: 700px) {
  mat-drawer {
    width: 75%
  }
}

@media screen and (min-width: 601px) {
  h1 {
    font-weight: 200
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-weight: 100
  }
}

h1 {
  color: $secondary-color
}

.drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-drawer {
  padding-top: 1.5%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

mat-drawer-container {
  background-color: #fff8e7;
}

nav {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #3c3b3d;
  font-weight: 200;
  margin: auto;
  margin-top: 1%;
  border-radius: 30px;
  width: 95%;
}
i, mat-icon {
  color: blue;
  cursor: pointer;
}
#links{
  list-style-type: none;
}

.link {
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
}
.active-link{
  font-weight: 800
}
#outlet{
  width: 100%;
  height: 210%;
}
footer{
  position: relative;
  margin-top: 5%;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  font-weight: 200
}

#body {
  width: 100%;
  margin: auto;
  text-align: center
}

.body-drawer-btn{
  width: 95%;
  border-radius: 50px
}