<div id="main-container" class="mt-5 pt-5">
  <div id="header">
    <mat-form-field appearance="outline">
      <mat-label>Filtrar por...</mat-label>
      <mat-select panelClass="example-panel-green" [(ngModel)]="filter">
        <mat-option
          (click)="applyFilter(c); (false)"
          *ngFor="let c of _common.classification"
          [value]="c"
        >
          {{ c }}
        </mat-option>
      </mat-select>
      <div class="text-center p-0 mt-2" *ngIf="filter">
        <button id="clear-btn" (click)="reset(); (false)" mat-raised-button>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </div>
  <div *ngIf="_service.services; else loading">
    <h4 class="text-center text-primary">
      Servicios
    </h4>
    <ul id="content" *ngIf="_service.services.length > 0; else empty">
      <mat-card
        class="service animated bounceInRight"
        *ngFor="
          let item of _service.services
            | paginate
              : {
                  itemsPerPage: [limit],
                  currentPage: _service.page,
                  totalItems: [count]
                };
          let i = index
        "
      >
        <h1 class="text-center">{{ item._name }}</h1>
        <hr />
        <div
          id="img-container"
          class="p-0 text-center"
          (deferLoad)="item._imgs_lazy[0].show = true"
        >
          <ng-container *ngIf="item._imgs_lazy[0].show">
            <img
              class="main-img rounded shadow-sm"
              alt=""
              src="{{ item._imgs_lazy[0].img }}"
            />
          </ng-container>
        </div>
        <hr />
        <mat-card-content class="text-left">
          <ul id="details">
            <li>
              <mat-accordion>
                <mat-expansion-panel
                  panelClass="yellow-panel.mat-expansion-panel"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title class="font-weight-bold">
                      Información adicional
                    </mat-panel-title>
                    <mat-panel-description>
                      Click para ver más
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{ item._additional_info }}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </li>
            <li
              *ngIf="
                item._phones !== null && item._phones.phones.length > 0;
                else noPhones
              "
            >
              <mat-list>
                <mat-list-item *ngFor="let p of item._phones.phones">
                  <mat-icon>phone</mat-icon>{{ p }}
                </mat-list-item>
              </mat-list>
            </li>
            <ng-template #noPhones>
              <mat-list>
                <mat-list-item
                  ><mat-icon color="warn">info</mat-icon> No hay números de
                  teléfono asociados</mat-list-item
                >
              </mat-list>
            </ng-template>

            <li>
              <mat-icon class="accent-icon">mail</mat-icon> {{ item._email }}
            </li>
          </ul>
        </mat-card-content>
        <hr />
        <div class="container text-center">
          <button
            routerLink="../tour/{{ item.id_service }}"
            class="detail-button"
            mat-raised-button
          >
            Ver más
          </button>
        </div>
      </mat-card>
    </ul>
    <pagination-controls (pageChange)="pageChanged($event)">
    </pagination-controls>
    <ng-template #empty>
      <p>Sin información que mostrar</p>
    </ng-template>
  </div>

  <div *ngIf="tours && tours.length > 0">
    <h4 class="text-center text-primary">
      Tours
    </h4>
    <ul>
      <mat-card
        class="service"
        *ngFor="
          let t of tours
            | paginate
              : {
                  itemsPerPage: [limit],
                  currentPage: toursPage
                };
          let i = index
        "
      >
        <h1 class="text-center">{{ t._name }}</h1>
        <hr />
        <div
          id="tour-img-container"
          class="p-0 text-center"
          (deferLoad)="t._imgs_lazy[0].show = true"
        >
          <ng-container *ngIf="t._imgs_lazy[0].show">
            <img
              class="main-img rounded shadow-sm"
              alt=""
              src="{{ t._imgs_lazy[0].img }}"
            />
          </ng-container>
        </div>
      </mat-card>
    </ul>
  </div>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
