@import "../../../assets/ui-utils/vars";
@media screen and (min-width: 601px) {
  .service {
    width: 25%
  }
}
@media screen and (max-width: 700px) {
  .service {
    width: 95%
  }
}

@media screen and (min-width: 601px) {
  h1 {
    font-size: 25px;
    font-weight: 200;
  }
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 25px;
    font-weight: 200
  }
}

@media screen and (min-width: 601px) {
  .main-img {
    height: 300px;
  }
}
@media screen and (max-width: 700px) {
  .main-img {
    height: 250px;
  }
}

#header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 1%;
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h4 {
  font-weight: 200;
}
#content {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}
.service {
  display: inline-block;
  margin: 2%;
  padding: 5px
}
.details {
  list-style-type: none;
  padding: 0
}
mat-icon {
  vertical-align: middle;
}
.accent-icon {
  color: $primary-color;
}
.detail-button {
  background-color: #008000;
  color: white;
}

.main-img{
  margin: auto;
  width: 100%;
}
#img-container, #tour-img-container {
  display: flex;
  justify-content: center;
  padding: 0;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

mat-expansion-panel {
  background-color: $primary-color
}

#clear-btn {
  background-color: $secondary-color;
  color: white
}