@import "../../../assets/ui-utils/vars";

@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .card-img-top {
    height: 40vw;
  }
}

@media (min-width: 48em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .card-img-top {
    height: 30vw;
  }
}

@media (min-width: 62em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .card-img-top {
    height: 30vw;
  }
}

@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .card-img-top {
    height: 25vw;
  }
}

#header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 1%;
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h4 {
  font-weight: 200;
}
#content {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}
.service {
  display: inline-block;
  margin: 2%;
  padding: 5px;
}
.details {
  list-style-type: none;
  padding: 0;
}
mat-icon {
  vertical-align: middle;
}
.accent-icon {
  color: $primary-color;
}
.detail-button {
  background-color: #008000;
  color: white;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

#img-container,
#tour-img-container {
  display: flex;
  justify-content: center;
  padding: 0;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

mat-expansion-panel {
  background-color: $primary-color;
}

#clear-btn {
  background-color: $secondary-color;
  color: white;
}
