@import '../../../assets/ui-utils/vars';
@media (min-width: 34em) {
  .card-img-top {
    height: 40vw;
  }
  mat-card {
    width: 85vw;
  }
}

@media (min-width: 48em) {
  .card-img-top {
    height: 30vw;
  }
  mat-card {
    width: 35vw;
  }
}

@media (min-width: 62em) {
  .card-img-top {
    height: 30vw;
  }
  mat-card {
    width: 30vw;
  }
}

@media (min-width: 75em) {
  .card-img-top {
    height: 25vw;
  }
  mat-card {
    width: 25vw;
  }
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

#service-btn {
  background-color: $primary-color
}

#tour-btn {
  background-color: $secondary-color;
  color: white
}

#tours-services-btn {
  background-color: $secondary-light-color
}