<div id="main-container">
  <div id="services" *ngIf="services; else loadingServices">
    <mat-card *ngFor="let s of services">
      <h1 class="text-center">{{s._name}}</h1>
      <hr>
      <img src="{{s.first_img}}" alt="Imagen Servicio">
      <hr>
      <p><strong>Clasificación:</strong> <span>{{s._classification}}</span></p>
      <div class="text-center p-1">
        <button class="mr-1" mat-stroked-button><mat-icon>edit</mat-icon></button>
        <button class="ml-1" mat-button color="warn"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-card>
  </div>
  <ng-template #loadingServices>
    <div class="container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  
  <div id="tours" *ngIf="tours; else noToursData">
    tours
  </div>
  <ng-template #noToursData>
    <small class="text-muted">No hay información sobre tours</small>  
  </ng-template>
  
</div>