<div id="main-container">
  <div id="header-container" class="text-center pt-3">
    <button [routerLink]="['/admin/add-service']" id="service-btn" mat-raised-button class="ml-1 mr-1 mb-1"><mat-icon>room_service</mat-icon> Añadir servicio</button>
    <button [routerLink]="['/admin/add-tour']" id="tour-btn" mat-raised-button class="ml-1 mb-1"><mat-icon>map</mat-icon> Añadir tour</button>
  </div>
  <br>
  <h1 *ngIf="services;" class="text-center text-muted">Servicios</h1>
  <div id="services" *ngIf="services; else loadingServices">
    <div id="services-container">
      <mat-card *ngFor="let s of services" class="mb-2 mr-1 ml-1">
        <h1 class="text-center">{{s._name}}</h1>
        <hr>
        <img id="main-img" class="shadow-sm rounded" src="{{s.first_img}}" alt="Imagen Servicio">
        <hr>
        <p><strong>Clasificación:</strong> <span>{{s._classification}}</span></p>
        <div class="text-center p-1">
          <button class="mr-1" mat-stroked-button><mat-icon>edit</mat-icon></button>
          <button class="ml-1" mat-button color="warn"><mat-icon>delete</mat-icon></button>
        </div>
      </mat-card>
    </div>
  </div>
  <ng-template #loadingServices>
    <div class="container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  
  <div id="tours" *ngIf="tours; else noToursData">
    tours
  </div>
  <ng-template #noToursData>
    <hr>
    <small class="text-muted text-center">No hay información sobre tours</small>  
  </ng-template>
  
</div>