<div class="d-flex flex-column w-100 mt-5 pt-5 justify-content-center">
  <div class="container">
    <div class="container bg-transparent text-justify">
      <strong>Dinámicas de la común-unidad (comunidad) de Caño Negro:</strong> <br />
      Una mirada más allá del Refugio Mixto de Vida Silvestre Cuando se habla de
      Caño Negro, inmediatamente se hace alusión al Refugio Mixto de Vida
      Silvestre y al humedal homónimo, reconocido internacionalmente como sitio
      Ramsar (desde 1991), por su importancia ecológica, por ello las dinámicas
      de la comunidad se desarrollan en función de lo que implica vivir en un
      refugio así como las problemáticas por el uso, tenencia de la tierra y los
      recursos naturales. Según lo mencionado, cuando se enfatiza el tema de
      recursos naturales, pero pasa por alto otros temas, las dinámicas locales
      -de índole social- pasan desapercibidas, lo cual redunda en desinformación
      y en vínculos débiles entre actores de la comunidad. Dado lo anterior,
      Dinámicas de la común-unidad (comunidad) de Caño Negro: una mirada más
      allá del Refugio Mixto de Vida Silvestre, un proyecto del Instituto
      Tecnológico de Costa Rica, Campus Tecnológico Local San Carlos, a cargo de
      Shi Alarcón Zamora y Ariadne Camacho Arias, docentes y extensionistas de
      la Escuela de Idiomas y Ciencias Sociales, persigue fortalecer las
      capacidades de las comunidades de Caño Negro para implementar acciones
      estratégicas que contribuyan al sentido de pertenencia, la articulación
      comunitaria y la gestión local, como una vía para generar desarrollo más
      allá del Refugio Mixto de Vida Silvestre, a través de la cartografía
      social (para identificar espacios significativos para la comunidad), mesas
      comunitarias de diálogo y acciones abocadas a promover liderazgos y
      desarrollar la autogestión y el trabajo en equipo.
    </div>
    <h1 class="text-center font-weight-light">Involucrados en el proyecto</h1>
    <div class="row">
      <mat-card class="info-card col-sm">
        <mat-card-header>
          <mat-card-title>Shi Alarcón Zamora</mat-card-title>
          <mat-card-subtitle>Coordinadora del proyecto</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Información relevante
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="info-card col-sm">
        <mat-card-header>
          <mat-card-title>Ariadne Camacho Arias</mat-card-title>
          <mat-card-subtitle>Extensionista</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Información relevante
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row">
      <mat-card class="info-card">
        <mat-card-header>
          <mat-card-title>Justin Alberto Castillo Valladares</mat-card-title>
          <mat-card-subtitle
            >Desarrollador del sitio web <br />
            Estudiante de Ingeniería en Computación</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <hr />
        </mat-card-content>
        <mat-card-actions
          class="d-flex flex-row w-100 justify-content-center p-0 m-0"
        >
          <button mat-raised-button class="btn-primary">Github</button>
          <button mat-raised-button class="btn-primary">Gitlab</button>
          <button mat-raised-button class="btn-primary">LinkedIn</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
