<form
  [formGroup]="recoveryFG"
  (ngSubmit)="onSubmit()"
  class="mt-5 pt-5 d-flex flex-column justify-content-center"
>
  <h3 class="font-weight-light text-center">Recuperación de contraseña</h3>
  <mat-form-field appearance="outline" class="w-75 m-auto">
    <mat-label>Nombre de usuario</mat-label>
    <input [formControl]="recoveryFG.get('username')" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-75 m-auto">
    <mat-label>Código enviado al correo</mat-label>
    <input [formControl]="recoveryFG.get('code')" matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-75 m-auto">
    <mat-label>Nueva contraseña</mat-label>
    <input
      [type]="hide ? 'password' : 'text'"
      [formControl]="recoveryFG.get('newPassword')"
      matInput
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide; (false)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-75 m-auto">
    <mat-label>Confirmar contraseña</mat-label>
    <input
      [type]="hideConfirmPassword ? 'password' : 'text'"
      [formControl]="recoveryFG.get('confirmPassword')"
      [errorStateMatcher]="matcher"
      matInput
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hideConfirmPassword = !hideConfirmPassword; (false)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{
        hideConfirmPassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error *ngIf="recoveryFG.hasError('notSame')">
      Las contraseñas no coinciden
    </mat-error>
  </mat-form-field>
  <div class="container text-center">
    <button type="submit" [disabled]="!recoveryFG.valid" mat-raised-button>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
