<div id="main-container" class="p-2">
  <mat-form-field appearance="outline">
    <mat-label>Búsqueda de servicio</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
    <button
      id="search-btn"
      mat-raised-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="search(value); (false)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-list class="animated bounceInRight" *ngIf="results && !selected">
    <mat-list-item
      (click)="selected = results[i]"
      *ngFor="let r of results; let i = index"
    >
      {{ r.name }}
    </mat-list-item>
  </mat-list>
  <div class="animated bounceInLeft" *ngIf="selected">
    <mat-checkbox #selectedOp (click)="handleSelectedOpClick(selectedOp.checked); false" [checked]="selected !== undefined">{{selected.name}}</mat-checkbox>
  </div>
</div>
