@import '../../../assets/ui-utils/vars';

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  overflow-y: auto;
}

mat-form-field {
  margin: auto;
  width: 90%;
  flex-grow: 1;
}

#search-btn {
  background-color: $primary-color
}

mat-list-item {
  cursor: pointer;
  border-radius: 7.5px;
  border: 0.5px solid lightgray;
  flex-grow: 1;
}

mat-list {
  overflow-y: auto; 
}

mat-list-item:hover {
  background-color: $primary-color;
  color: black;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#selected {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}