<div id="main-container" class="mt-5 pt-3">
  <h1 class="text-muted text-center">
    Refugio Nacional de Vida Silvestre Caño Negro
  </h1>
  <div id="header-card" class="card shadow p-2">
    <h1 class="text-center">Sitio RAMSAR</h1>
    <hr />
    <small class="text-center text-white"
      >Humedal de importancia internacional
      <mat-icon>local_play</mat-icon></small
    >
    <hr />
    <div class="container text-center">
      <a
        mat-raised-button
        href="https://www.ramsar.org/sites/default/files/documents/library/wwd2006_rpts_costarica_canonegro.pdf"
        >Más info</a
      >
    </div>
  </div>
  <main class="mt-4">
    <p>
      <mat-card class="info-card rounded">
        <h2 class="text-center p-2 mb-0 shadow">Veda del Gaspar</h2>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ruta-turistica-del-norte.appspot.com/o/IMGP5549.jpg?alt=media&token=56948bf2-8287-454e-b477-52ceaf0f24de"
        />
        <mat-card-content>
          <ul class="p-2">
            <li><strong>Inicio:</strong> 1 Abril</li>
            <li><strong>Fin:</strong> 31 Agosto</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </p>
    <p>
      <mat-card class="info-card rounded">
        <h2 class="text-center p-2 mb-0 shadow">Veda General de Pesca</h2>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ruta-turistica-del-norte.appspot.com/o/IMGP5549.jpg?alt=media&token=56948bf2-8287-454e-b477-52ceaf0f24de"
        />
        <mat-card-content>
          <ul class="p-2">
            <li><strong>Inicio:</strong> 1 Marzo</li>
            <li><strong>Fin:</strong> 31 Agosto</li>
          </ul>
          <div class="container">
            <p>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto. Lorem Ipsum ha sido el texto de relleno
              estándar de las industrias desde el año 1500, cuando un impresor
              (N. del T. persona que se dedica a la imprenta) desconocido usó
              una galería de textos y los mezcló de tal manera que logró hacer
              un libro de textos especimen. No sólo sobrevivió 500 años, sino
              que tambien ingresó como texto de relleno en documentos
              electrónicos, quedando esencialmente igual al original. Fue
              popularizado en los 60s con la creación de las hojas "Letraset",
              las cuales contenian pasajes de Lorem Ipsum, y más recientemente
              con software de autoedición, como por ejemplo Aldus PageMaker, el
              cual incluye versiones de Lorem Ipsum.
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </p>
  </main>
</div>
