<!-- <form (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <input type="text" [(ngModel)]="s._name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="text" [(ngModel)]="s._classification">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="text" [(ngModel)]="s._name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="text" [(ngModel)]="s._name">
  </mat-form-field>
</form> -->
<span>{{this.s._name}}</span>