nav {
  background-color: transparent;
  color: #3c3b3d;
  background: transparent;
  font-weight: 200;
  margin: auto;
  margin-top: 1%;
  border-radius: 30px;
  width: 95%;
}

#main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

a{
  font-size: 25px;
}

#canton-map {
  height: 500px;
}

mat-tab{
  border-radius: 10px;
}
agm-map {
  height: 500px;
}
footer{
  position: fixed;
  margin-top: 5%;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  font-weight: 200
}
mat-card-title{
  font-weight: 200
}
ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  height: 100%;
}
.enterprise {
  cursor: pointer
}