<div id="main-container" class="mt-5 pt-5">
  <div id="header">
    <mat-form-field appearance="outline">
      <mat-label>Filtrar por...</mat-label>
      <mat-select [(ngModel)]="filter">
        <mat-option (click)="applyFilter(c); false" *ngFor="let c of _common.classification" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="_tours.tours; else loading">
    <h4 class="text-center text-primary">
      Servicios
    </h4> 
    <ul id="content" *ngIf="_tours.tours.length > 0; else empty">
      <mat-card
        class="service animated bounceInRight"
        *ngFor="
          let item of _tours.tours; let i = index"
      >
        <h1 class="text-center">{{ item._name }}</h1>
        <hr>
        <div id="img-container"class="text-center" (deferLoad)="item._imgs_lazy[0].show = true">
          <ng-container *ngIf="item._imgs_lazy[0].show">
            <img class="rounded shadow-sm" alt="" id="main-img" src={{item._imgs_lazy[0].img}}>
          </ng-container>
        </div>
        <hr />
        <mat-card-content class="text-left">
          <ul id="details">
            <li>
              <mat-icon class="accent-icon">info</mat-icon> {{ item._additional_info }}
            </li>
            <li>
              <mat-icon class="accent-icon">phone</mat-icon> {{ item._phone }}
            </li>
            <li>
              <mat-icon class="accent-icon">mail</mat-icon> {{ item._email }}
            </li>
          </ul>
        </mat-card-content>
        <hr />
        <div class="container text-center">
          <button
            routerLink="../tour/{{ item.id_service }}"
            class="detail-button"
            mat-raised-button
          >
            Ver más
          </button>
        </div>
      </mat-card>
    </ul>
    <mat-paginator *ngIf="count" class="bg-transparent" [length]="count"
      [pageSize]="limit"
      [pageSizeOptions]="options">
    </mat-paginator>


    <ng-template #empty>
      <p>Sin información que mostrar</p>
    </ng-template>
    
    </div>
  </div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
