<div id="main-container">
  <h4 class="text-center text-primary">
    Tours y Servicios de la Ruta Turística del norte
  </h4>
  <div id="header">
    <mat-form-field>
      <mat-label>Filtrar por..</mat-label>
      <mat-select>
        <mat-option value="Tour">
          Tour
        </mat-option>
        <mat-option value="Restaurantes">
          Restaurantes
        </mat-option>
        <mat-option value="Otros">
          Servicios Varios
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ul id="content" *ngIf="_tours.tours">
    <mat-card
      class="service animated bounceInRight"
      *ngFor="
        let item of _tours.tours | paginate: { itemsPerPage: 5, currentPage: p }
      "
    >
      <h1 class="text-center">{{ item._name }}</h1>
      <hr>
      <div id="img-container"class="text-center">
        <img id="main-img" class="rounded shadow-sm" src="{{item.imgs[0]}}" alt="">
      </div>
      <hr />
      <mat-card-content class="text-left">
        <ul id="details">
          <li>
            <mat-icon class="accent-icon">info</mat-icon> {{ item._additional_info }}
          </li>
          <li>
            <mat-icon class="accent-icon">phone</mat-icon> {{ item._phone }}
          </li>
          <li>
            <mat-icon class="accent-icon">mail</mat-icon> {{ item._email }}
          </li>
        </ul>
      </mat-card-content>
      <hr />
      <div class="container text-center">
        <button
          routerLink="../tour/{{ item.id_service }}"
          class="detail-button"
          mat-raised-button
        >
          Ver más
        </button>
      </div>
    </mat-card>
  </ul>
</div>
<pagination-controls
  (pageChange)="p = $event"
  class="container text-center p-0"
></pagination-controls>
