<owl-carousel class="mb-2 container" [items]="images" [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
  <div class="item" *ngFor="let i of data.images; let index = index;" (deferLoad)="i.show = true">
    <img class="rounded img-fluid slide-image" src="{{i.img}}" >
    <div *ngIf="allowDelete" class="d-flex flex-row justify-content-around mt-2">
      <button (click)="emitImageDeletion(index)" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</owl-carousel>